h1{
    text-align: center;
    color: white;
}

.main-header, .main-header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navlink-container {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
  }
  
button{
    height: 30px;
    font-size: 0.9rem;
}
nav{
    background-color: whitesmoke;
    align-items: center;
}

.homepage{

    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black;
}
.addbookingpage
{
    font-size: medium;
    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black; 
}
.packagespage
{

    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black; 
}
.navlink {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .navlink svg {
    height: 15px;
    width: 25px;
    margin-right: 1px;
  }
  
  .navlink span {
    font-size: 20px;
  }
  
.servicespage{
   
    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black; 
}
.dashboardpage{
    
    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black; 
}
.packagepage{
   
    text-decoration: none;
    margin-left: 15px;
    margin-right: 20px;
    font-size:x-large;
    color: black;
}
.bookingpage{

    margin-left: 15px;
    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black;
}
.aboutpage{
    
    margin-left: 15px;
    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black;
}
.guidepage{

    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black;
}
.servicepage{
 
    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black;
}
.statuspage{
  
    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black;
}
.homepage:hover{
    color:#bc0808;
}
.aboutpage:hover{
    color: #bc0808 

}
.guidepage:hover{
    color:#bc0808
  
}
.servicepage:hover{
    color:#bc0808

}
.packagepage:hover{
    color:#bc0808
    
}
.bookingpage:hover{
    border-color:#bc0808
}
.statuspage:hover{
    border-color:#bc0808
}
.active{
   color: #bc0808
}
.main-header {
    display: flex;
  }
  .hamburger {
    display: none;
    position: absolute;
    right: 0;
  }
  
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
  
    .navbar-container {
      display: none;
    }
  }
  
  @media (min-width: 769px) {
    .navbar-container {
      display: block;
    }
  }
  @media screen and (max-width: 768px) {
    .main-header {
      flex-direction: column;
    }
  }
  