h1{
    text-align: center;
    color: white;
}
button{
    background-color: #126cfc;
}
nav{
    margin-left: 400px;
    margin-top: -120px;
    align-items: center;
}
.homepage{
    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black;
}
.addbookingpage
{
    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black; 
}
.packagespage
{
    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black; 
}
.servicespage{
    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black; 
}
.dashboardpage{
    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black; 
}
.packagepage{

    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black;
}
.bookingpage{
    margin-left: 15px;
    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black;
}
.aboutpage{
    margin-left: 15px;
    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black;
}
.guidepage{

    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black;
}
.servicepage{

    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black;
}
.statuspage{
    text-decoration: none;
    margin-left: 15px;
    font-size:x-large;
    color: black;
}
.homepage:hover{
    color:#0abab5 ;
}
.aboutpage:hover{
    color:#0abab5 

}
.guidepage:hover{
    color:#0abab5 
  
}
.servicepage:hover{
    color:#0abab5 

}
.packagepage:hover{
    color:#0abab5 
    
}
.bookingpage:hover{
    border-color:#0abab5  
}
.statuspage:hover{
    border-color:#0abab5  
}
.active{
    color:#ec9154 ;
}
.main-header {
    display: flex;
  }
  .hamburger {
    display: none;
    position: absolute;
    right: 0;
  }
  
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
  
    .navbar-container {
      display: none;
    }
  }
  
  @media (min-width: 769px) {
    .navbar-container {
      display: block;
    }
  }
  @media screen and (max-width: 768px) {
    .main-header {
      flex-direction: column;
    }
  }
  