nav{
    margin-left: 600px;
    margin-top: 25px;
}
.homepage{
    text-decoration: none;
    margin-left: 18px;
    font-size:x-large;
    color: black;
}
.packagepage{
    text-decoration: none;
    margin-left: 18px;
    font-size:x-large;
    color: black;
}
.aboutpage{
    text-decoration: none;
    margin-left: 18px;
    font-size:x-large;
    color: black;
}
.guidepage{
    text-decoration: none;
    margin-left: 18px;
    font-size:x-large;
    color: black;
}
.servicepage{
    text-decoration: none;
    margin-left: 18px;
    font-size:x-large;
    color: black;
}


.homepage:hover{
    color:#000080;
}
.aboutpage:hover{
    color:#000080;
}
.guidepage:hover{
    color:#000080;
}
.servicepage:hover{
    color:#000080;
}
